<!-- <div class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div>

  <div class="card-body">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-2">
            <button type="button"
                    class="btn btn-outline-secondary"
                    (click)="onAdd()">Add Person</button>
          </div>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table mb-0" *ngIf="person">
        <thead>
          <tr>
            <th>Person Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Adress</th>
            <th>Country</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of person">
            <td>{{ p.name }}</td>
            <td>{{ p.phone }}</td>
            <td>{{ p.email }}</td>
            <td>{{ p.adress }}</td>
            <td>{{ p.country }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="alert alert-danger" *ngIf="errorMessage">
  {{ errorMessage }}
</div> -->
<h1>Rayhane</h1>
