<!-- echarts -->
<!-- <div echarts [options]="options" class="demo-chart"></div> -->
<!-- display data from contact page through a service -->
<!-- <h2>{{ firstName }}</h2>
<h2>{{ lastName }}</h2> -->

<div class="row">
  <div class="six columns">
    <!-- child 1 : donut -->
    <app-donut></app-donut>
  </div>
  <div class="six columns">
    <!-- child 2 : bar -->
    <app-bar></app-bar>
  </div>
</div>
<div class="row">
  <div class="six columns">
    <!-- child 3 : radar -->
    <app-radar></app-radar>
  </div>
  <div class="six columns">
    <!-- child 4 : line -->
    <app-line></app-line>
  </div>
</div>
